
div.myform {
    display: flex;
    justify-content: center;
    
}

h1.signup {
    text-align: center;
}
/* 
* {

    margin:0;
    padding:0;
    box-sizing: border-box;
} */

/* body {
    display: flex;
    justify-content: center;
} */


/* 

body {
    width: 100%;
    height: 100%;
    background-image: url(olivegreen.jpg);
    background-position: center;
    background-size: cover;
}


form {
    border-radius: 10px;
    background-color: #efd1c6;
    width: 600px;
    padding: 10px;
    /* text-align: center; */
    /* width: 500px;
    height: 250px; */
    /* font-size:medium;
}

h1 {
    text-align: center;
} */


/* .registrationForm{

    width: 100%;
    height: 100%;
    background-image: url(olivegreen.jpg);
    background-position: center;
    background-size: cover;
} */