
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/generate.css">
    <style>
        /* Add CSS styles for the card text */
        .card {
            /* Add some left margin for indentation */
            margin-left: 20px;
        }

        .card p {
            /* Adjust font size to make it smaller */
            font-size: 14px;
        }
    </style>
</head>

<body>
    <div class="first">
      <header>
            <a href="#" class="logo">HeartyHealthy</a>
            <nav>
                <a href="#generate">Generate</a>
                <a href="#Login">Login</a>
            </nav>
        </header>
    </div>
    <section id="hometext">“The people who give you their food give you their heart.” - Cesar Chavez </section>
    <div class="second">
        <section id="generate">
            <div class="container">
                <div class="content-section">
                    <!-- Card One -->
                    <div class="card">
                        <img src="static/food3.jpeg">
                        <p><strong>Meal Name:</strong> {{ meal_plan[0].mealName }}</p>
                        <p><strong>Meal Description:</strong> {{ meal_plan[0].mealDescription }}</p>
                        <p><strong>Recipe Name:</strong> {{ meal_plan[0].recipeName }}</p>
                    </div>

                    <!-- Card Two -->
                    <div class="card">
                        <img src="static/food3.jpeg">
                        <p><strong>Meal Name:</strong> {{ meal_plan[1].mealName }}</p>
                        <p><strong>Meal Description:</strong> {{ meal_plan[1].mealDescription }}</p>
                        <p><strong>Recipe Name:</strong> {{ meal_plan[1].recipeName }}</p>
                    </div>

                    <!-- Card Three -->
                    <div class="card">
                        <img src="static/food3.jpeg">
                        <p><strong>Meal Name:</strong> {{ meal_plan[2].mealName }}</p>
                        <p><strong>Meal Description:</strong> {{ meal_plan[2].mealDescription }}</p>
                        <p><strong>Recipe Name:</strong> {{ meal_plan[2].recipeName }}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

