<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/generate.css">
</head>

<body>
    <div class = "first">
        <header>
            <a href="#" class="logo">HeartyHealthy</a>
            <nav>
                <a href="#generate">Generate</a>
                <a href="#Login">Login</a>
            </nav>
        </header>
    </div>

    <div class="second">
        <section id="hometext">“The people who give you their food give you their heart.” - Cesar Chavez</section>
        <section id="generate">
            <div class="container">
                <div class="content-section">
                    <div class="card">
                        <img src="static/img1.png">
                        <h5 class="text1">Card One</h5>
                        <p>blablabla</p>
                    </div>
                    <div class="card">
                        <img src="static/img2.png">
                        <h5 class="text1">Card Two</h5>
                        <p>blablabla</p>
                    </div>
                    <div class="card">
                        <img src="static/img3.png">
                        <h5 class="text1">Card Three</h5>
                        <p>blablabla</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>
</html>